html,
body {
  height: 100%;
  background-color: powderblue;
}

body {
  overflow: hidden;
  /* let the header take its natural height, and .container takes the rest with flex: 1 */
  display: flex;
  flex-direction: column;
}

header h1 {
  text-align: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
  /* height: calc(100% - 2rem); */
}

.sidebar {
  flex: 10%;
  padding: 0.5rem;
}

.sideOptionDiv {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.sideOptionDiv input[type='number'] {
  width: 4rem;
}

.content {
  flex: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 0;
}

#chatBox {
  overflow-y: scroll;
  flex: 1;
  min-height: 0;
  background-color: whitesmoke;
  border-radius: 1rem;
  row-gap: 0.5rem;
  padding: 0.5rem;
}


.exchangeContainer {
  padding: 0.5rem;
}

.messageContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.messageContainer p {
  max-width: 70%;
}


.promptContainer {
  justify-content: right;
}

.promptContainer p {
  order: 1
}

.promptContainer img {
  order: 2
}

.answerContainer {
  justify-content: left;
}

.answerContainer p {
  order: 2
}

.answerContainer img {
  order: 1
}

.textInputDiv {
  /* prevents the form area from being squished */
  flex-shrink: 0;
  margin-top: auto;
  min-height: 5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

#textInput {
  /* By default, textarea does not inherit font settings */
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  flex-grow: 2;
  border-radius: 0.5rem;
}

#sendBtn {
  /* Setting the background color breaks the aqua appearance, allowing to set font size */
  background-color: lightsteelblue;
  font-family: inherit;
  font-size: inherit;
  flex-grow: 1;
  border-radius: 0.5rem;
}


/* the only operator is used to prevent older browsers from applying the styles without evaluating the media feature expressions but it has no effect in modern browsers. */
@media only screen and (max-width: 700px) {
  .container {
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .container .sidebar {
    order: 1;
  }

  .container .content {
    order: 2;
  }
}
